<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!-- MDB CSS links -->
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet">
    
    <!-- MDB JS links (optional, you can choose whether to include it or not) -->
    <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit/js/mdb.min.js"></script>
     <!-- Bootstrap JS and Popper.js (add these lines) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


    <!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL</span>ER</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>

                    {% if request.session.user_id %}
                        <!-- Show user-specific items if user is logged in -->
                        <a href="/profile" class="nav-item nav-link">Profile</a>
                        <span class="nav-item nav-link text-success">Welcome, {{ request.session.username }}</span>
                        <a href="/logout" class="nav-item nav-link">Logout</a>
                    {% else %}
                        <!-- Show login and signup links if user is not logged in -->
                        <a href="/login" class="nav-item nav-link">Login</a>
                        <a href="/signup" class="nav-item nav-link">Signup</a>
                    {% endif %}

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog Detail</a>
                            <a href="destination.html" class="dropdown-item">Destination</a>
                            <a href="guide.html" class="dropdown-item">Travel Guides</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>


<!-- Navbar End -->



{% block main_content %}


{% endblock main_content %}

<!-- Footer Start -->
<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">TRAVEL</span>ER</h1>
                </a>
                <p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet labore rebum lorem ipsum dolor. No sed vero lorem dolor dolor</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-floating mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-floating mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-floating mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-floating" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" href="#">About</a></li>
                    <li><a class="text-white-50" href="#">Destination</a></li>
                    <li><a class="text-white-50" href="#">Services</a></li>
                    <li><a class="text-white-50" href="#">Packages</a></li>
                    <li><a class="text-white-50" href="#">Guides</a></li>
                    <li><a class="text-white-50" href="#">Testimonial</a></li>
                    <li><a class="text-white-50" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" href="#">About</a></li>
                    <li><a class="text-white-50" href="#">Destination</a></li>
                    <li><a class="text-white-50" href="#">Services</a></li>
                    <li><a class="text-white-50" href="#">Packages</a></li>
                    <li><a class="text-white-50" href="#">Guides</a></li>
                    <li><a class="text-white-50" href="#">Testimonial</a></li>
                    <li><a class="text-white-50" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Newsletter</h6>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->



</body>
</html>
